## Author: Zachary Ciemniecki
## Date: 4/2/2020
## CS301-006, Professor Watson
## HW06 Solution

The purpose of this assignment is to help students practice using Python to prepare their data sets for machine learning.

link to the git repo:https://github.com/zcskywire2/cs301-hw6

In [215]:
import pandas as pd
import numpy as np

#### Question 1 - Read in the data set and print the % empty values for each column. Are there any columns with missing values?

In [216]:
data_dir = 'C:\\Users\\zcskywire2\\Downloads\\groundhog.csv'

In [217]:
df=pd.read_csv(data_dir)
df.head()

,Unnamed: 0,Year,Punxsutawney Phil,February Average Temperature,February Average Temperature (Northeast),February Average Temperature (Midwest),February Average Temperature (Pennsylvania),March Average Temperature,March Average Temperature (Northeast),March Average Temperature (Midwest),March Average Temperature (Pennsylvania)
0,0,1886,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1887,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1888,Full Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1889,No Record,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1890,No Shadow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
df_is_Missing = df.isna()
print(df_is_Missing.any())

Unnamed: 0                                     False
Year                                           False
Punxsutawney Phil                              False
February Average Temperature                    True
February Average Temperature (Northeast)        True
February Average Temperature (Midwest)          True
February Average Temperature (Pennsylvania)     True
March Average Temperature                       True
March Average Temperature (Northeast)           True
March Average Temperature (Midwest)             True
March Average Temperature (Pennsylvania)        True
dtype: bool

In [219]:
percent = df_is_Missing.sum()/131
print(percent)

Unnamed: 0                                     0.000000
Year                                           0.000000
Punxsutawney Phil                              0.000000
February Average Temperature                   0.068702
February Average Temperature (Northeast)       0.068702
February Average Temperature (Midwest)         0.068702
February Average Temperature (Pennsylvania)    0.068702
March Average Temperature                      0.068702
March Average Temperature (Northeast)          0.068702
March Average Temperature (Midwest)            0.068702
March Average Temperature (Pennsylvania)       0.068702
dtype: float64

#### Question 2 - Create a new dataframe which is a copy of the orginal one. In this copy, replace the missing values in the data set using one of the discussed methods in class.

In [220]:
df2 = df.copy()

In [221]:
print(df2.mean())
df2 =df2.fillna(df2.mean())
print(df2)

Unnamed: 0                                       65.000000
Year                                           1951.000000
February Average Temperature                     33.802705
February Average Temperature (Northeast)         22.693443
February Average Temperature (Midwest)           32.694262
February Average Temperature (Pennsylvania)      26.522951
March Average Temperature                        41.699016
March Average Temperature (Northeast)            32.368033
March Average Temperature (Midwest)              42.568852
March Average Temperature (Pennsylvania)         35.908197
dtype: float64
     Unnamed: 0  Year Punxsutawney Phil  February Average Temperature  \
0             0  1886         No Record                     33.802705
1             1  1887       Full Shadow                     33.802705
2             2  1888       Full Shadow                     33.802705
3             3  1889         No Record                     33.802705
4             4  1890         No Shadow                     33.802705
..          ...   ...               ...                           ...
126         126  2012       Full Shadow                     37.510000
127         127  2013         No Shadow                     34.770000
128         128  2014       Full Shadow                     32.130000
129         129  2015       Full Shadow                     32.990000
130         130  2016         No Shadow                     39.470000

     February Average Temperature (Northeast)  \
0                                   22.693443
1                                   22.693443
2                                   22.693443
3                                   22.693443
4                                   22.693443
..                                        ...
126                                 30.600000
127                                 25.300000
128                                 21.000000
129                                 12.100000
130                                 28.100000

     February Average Temperature (Midwest)  \
0                                 32.694262
1                                 32.694262
2                                 32.694262
3                                 32.694262
4                                 32.694262
..                                      ...
126                               38.600000
127                               33.400000
128                               27.100000
129                               23.400000
130                               36.900000

     February Average Temperature (Pennsylvania)  March Average Temperature  \
0                                      26.522951                  41.699016
1                                      26.522951                  41.699016
2                                      26.522951                  41.699016
3                                      26.522951                  41.699016
4                                      26.522951                  41.699016
..                                           ...                        ...
126                                    34.300000                  50.410000
127                                    27.400000                  40.910000
128                                    22.800000                  40.510000
129                                    16.100000                  45.390000
130                                    30.800000                  47.500000

     March Average Temperature (Northeast)  \
0                                32.368033
1                                32.368033
2                                32.368033
3                                32.368033
4                                32.368033
..                                     ...
126                              43.400000
127                              32.700000
128                              26.000000
129                              27.800000
130                              38.800000

     March Average Temperature (Midwest)  \
0                              42.568852
1                              42.568852
2                              42.568852
3                              42.568852
4                              42.568852
..                                   ...
126                            56.300000
127                            37.300000
128                            38.000000
129                            41.600000
130                            49.500000

     March Average Temperature (Pennsylvania)
0                                   35.908197
1                                   35.908197
2                                   35.908197
3                                   35.908197
4                                   35.908197
..                                        ...
126                                 47.700000
127                                 33.900000
128                                 30.300000
129                                 31.600000
130                                 43.400000

[131 rows x 11 columns]

#### Question 3 - Is your proposed method from Question 2 appropriate in this case? Why or why not?

Its passible using the average over the years for tempature is not great as it could easily be well above or below that mark but it would be hard to get true data

#### Question 4 - Using the original dataframe (unchanged from Questoins 2, 3), create a mapping for the "Punxsutawney Phil" column which changes the categories into numerical quantities. For example: 'No Record' can be 0, 'No Shadow' can be 1, 'Partial Shadow' can be 2, and 'Full Shadow' can be 3. You should create the mapping *and* apply it to the data set by adding a new column called "Shadow".

In [222]:
di = {'No Record': 0, 'No Shadow': 1, 'Partial Shadow' : 2, 'Full Shadow' : 3}

In [223]:
df = df.dropna()
print(df)

     Unnamed: 0  Year Punxsutawney Phil  February Average Temperature  \
9             9  1895         No Record                         26.60
10           10  1896         No Record                         35.04
11           11  1897         No Record                         33.39
12           12  1898       Full Shadow                         35.37
13           13  1899         No Record                         25.50
..          ...   ...               ...                           ...
126         126  2012       Full Shadow                         37.51
127         127  2013         No Shadow                         34.77
128         128  2014       Full Shadow                         32.13
129         129  2015       Full Shadow                         32.99
130         130  2016         No Shadow                         39.47

     February Average Temperature (Northeast)  \
9                                        15.6
10                                       22.2
11                                       23.6
12                                       24.8
13                                       18.1
..                                        ...
126                                      30.6
127                                      25.3
128                                      21.0
129                                      12.1
130                                      28.1

     February Average Temperature (Midwest)  \
9                                      21.9
10                                     33.5
11                                     34.7
12                                     33.3
13                                     22.2
..                                      ...
126                                    38.6
127                                    33.4
128                                    27.1
129                                    23.4
130                                    36.9

     February Average Temperature (Pennsylvania)  March Average Temperature  \
9                                           17.0                      39.97
10                                          26.6                      38.03
11                                          27.9                      38.79
12                                          26.7                      41.05
13                                          20.0                      37.63
..                                           ...                        ...
126                                         34.3                      50.41
127                                         27.4                      40.91
128                                         22.8                      40.51
129                                         16.1                      45.39
130                                         30.8                      47.50

     March Average Temperature (Northeast)  \
9                                     27.6
10                                    25.3
11                                    32.0
12                                    38.0
13                                    29.3
..                                     ...
126                                   43.4
127                                   32.7
128                                   26.0
129                                   27.8
130                                   38.8

     March Average Temperature (Midwest)  \
9                                   40.2
10                                  36.9
11                                  44.0
12                                  46.0
13                                  38.4
..                                   ...
126                                 56.3
127                                 37.3
128                                 38.0
129                                 41.6
130                                 49.5

     March Average Temperature (Pennsylvania)
9                                        31.3
10                                       27.8
11                                       36.9
12                                       42.0
13                                       34.0
..                                        ...
126                                      47.7
127                                      33.9
128                                      30.3
129                                      31.6
130                                      43.4

[122 rows x 11 columns]

#### Question 5 - For all rows which have no record, remove the rows which have empty values in all of the quantitative columns. (Only 6 should be removed.)

In [224]:
print(df.head(10))

    Unnamed: 0  Year Punxsutawney Phil  February Average Temperature  \
9            9  1895         No Record                         26.60
10          10  1896         No Record                         35.04
11          11  1897         No Record                         33.39
12          12  1898       Full Shadow                         35.37
13          13  1899         No Record                         25.50
14          14  1900       Full Shadow                         30.76
15          15  1901       Full Shadow                         29.86
16          16  1902         No Record                         31.46
17          17  1903       Full Shadow                         28.42
18          18  1904       Full Shadow                         31.59

    February Average Temperature (Northeast)  \
9                                       15.6
10                                      22.2
11                                      23.6
12                                      24.8
13                                      18.1
14                                      21.4
15                                      16.0
16                                      20.1
17                                      24.5
18                                      15.0

    February Average Temperature (Midwest)  \
9                                     21.9
10                                    33.5
11                                    34.7
12                                    33.3
13                                    22.2
14                                    27.5
15                                    26.2
16                                    23.6
17                                    31.3
18                                    28.2

    February Average Temperature (Pennsylvania)  March Average Temperature  \
9                                          17.0                      39.97
10                                         26.6                      38.03
11                                         27.9                      38.79
12                                         26.7                      41.05
13                                         20.0                      37.63
14                                         24.1                      41.27
15                                         18.9                      40.71
16                                         21.0                      41.58
17                                         28.0                      42.21
18                                         19.2                      41.76

    March Average Temperature (Northeast)  \
9                                    27.6
10                                   25.3
11                                   32.0
12                                   38.0
13                                   29.3
14                                   26.0
15                                   30.8
16                                   37.1
17                                   40.4
18                                   29.8

    March Average Temperature (Midwest)  \
9                                  40.2
10                                 36.9
11                                 44.0
12                                 46.0
13                                 38.4
14                                 37.9
15                                 41.9
16                                 43.9
17                                 47.7
18                                 42.8

    March Average Temperature (Pennsylvania)
9                                       31.3
10                                      27.8
11                                      36.9
12                                      42.0
13                                      34.0
14                                      29.3
15                                      35.1
16                                      38.8
17                                      44.5
18                                      34.0

In [225]:
df.drop(df.loc[df['Punxsutawney Phil']==0].index, inplace=True)
print(df)

     Unnamed: 0  Year Punxsutawney Phil  February Average Temperature  \
9             9  1895         No Record                         26.60
10           10  1896         No Record                         35.04
11           11  1897         No Record                         33.39
12           12  1898       Full Shadow                         35.37
13           13  1899         No Record                         25.50
..          ...   ...               ...                           ...
126         126  2012       Full Shadow                         37.51
127         127  2013         No Shadow                         34.77
128         128  2014       Full Shadow                         32.13
129         129  2015       Full Shadow                         32.99
130         130  2016         No Shadow                         39.47

     February Average Temperature (Northeast)  \
9                                        15.6
10                                       22.2
11                                       23.6
12                                       24.8
13                                       18.1
..                                        ...
126                                      30.6
127                                      25.3
128                                      21.0
129                                      12.1
130                                      28.1

     February Average Temperature (Midwest)  \
9                                      21.9
10                                     33.5
11                                     34.7
12                                     33.3
13                                     22.2
..                                      ...
126                                    38.6
127                                    33.4
128                                    27.1
129                                    23.4
130                                    36.9

     February Average Temperature (Pennsylvania)  March Average Temperature  \
9                                           17.0                      39.97
10                                          26.6                      38.03
11                                          27.9                      38.79
12                                          26.7                      41.05
13                                          20.0                      37.63
..                                           ...                        ...
126                                         34.3                      50.41
127                                         27.4                      40.91
128                                         22.8                      40.51
129                                         16.1                      45.39
130                                         30.8                      47.50

     March Average Temperature (Northeast)  \
9                                     27.6
10                                    25.3
11                                    32.0
12                                    38.0
13                                    29.3
..                                     ...
126                                   43.4
127                                   32.7
128                                   26.0
129                                   27.8
130                                   38.8

     March Average Temperature (Midwest)  \
9                                   40.2
10                                  36.9
11                                  44.0
12                                  46.0
13                                  38.4
..                                   ...
126                                 56.3
127                                 37.3
128                                 38.0
129                                 41.6
130                                 49.5

     March Average Temperature (Pennsylvania)
9                                        31.3
10                                       27.8
11                                       36.9
12                                       42.0
13                                       34.0
..                                        ...
126                                      47.7
127                                      33.9
128                                      30.3
129                                      31.6
130                                      43.4

[122 rows x 11 columns]

#### Question 6 - For the remaining rows which have no record (but the other columns *are* populated), determine an appropriate method for inputting the value for this column. Explain your reasoning, and show your work below (using pandas).

I personally dont think they should be there ( after runnin ahead and seeing thee rest of this homework) hoever since i must keep them I have above already turned them into int values and will keep them as such for the following

#### Question 7 - If we are trying to write a machine learning program which predicts the type of shadow for the year, which column(s) should be the independent variables X? Why? 

#### Use pandas to assign a variable X to be all of the rows of the data set with the column(s) that represent the independent variables.

dependent is the outcome of an ai prediction so it should tbe the varible we want to predict, which is in this case is the shadow

In [226]:
x = df["Punxsutawney Phil"]

In [227]:
print(x)

9        No Record
10       No Record
11       No Record
12     Full Shadow
13       No Record
          ...
126    Full Shadow
127      No Shadow
128    Full Shadow
129    Full Shadow
130      No Shadow
Name: Punxsutawney Phil, Length: 122, dtype: object

#### Question 8 - If we are trying to write a machine learning program which predicts the type of shadow for the year, which column(s) should be the dependent variables Y? Why?  

#### Use pandas to assign a variable Y to be all of the rows of the data set with the column(s) that represent the dependent variables.

independent is the data being fed into to make a prediction so there for its all the tempature values

In [228]:
y = df.iloc[:, 4:12]

In [229]:
print(y)

     February Average Temperature (Northeast)  \
9                                        15.6
10                                       22.2
11                                       23.6
12                                       24.8
13                                       18.1
..                                        ...
126                                      30.6
127                                      25.3
128                                      21.0
129                                      12.1
130                                      28.1

     February Average Temperature (Midwest)  \
9                                      21.9
10                                     33.5
11                                     34.7
12                                     33.3
13                                     22.2
..                                      ...
126                                    38.6
127                                    33.4
128                                    27.1
129                                    23.4
130                                    36.9

     February Average Temperature (Pennsylvania)  March Average Temperature  \
9                                           17.0                      39.97
10                                          26.6                      38.03
11                                          27.9                      38.79
12                                          26.7                      41.05
13                                          20.0                      37.63
..                                           ...                        ...
126                                         34.3                      50.41
127                                         27.4                      40.91
128                                         22.8                      40.51
129                                         16.1                      45.39
130                                         30.8                      47.50

     March Average Temperature (Northeast)  \
9                                     27.6
10                                    25.3
11                                    32.0
12                                    38.0
13                                    29.3
..                                     ...
126                                   43.4
127                                   32.7
128                                   26.0
129                                   27.8
130                                   38.8

     March Average Temperature (Midwest)  \
9                                   40.2
10                                  36.9
11                                  44.0
12                                  46.0
13                                  38.4
..                                   ...
126                                 56.3
127                                 37.3
128                                 38.0
129                                 41.6
130                                 49.5

     March Average Temperature (Pennsylvania)
9                                        31.3
10                                       27.8
11                                       36.9
12                                       42.0
13                                       34.0
..                                        ...
126                                      47.7
127                                      33.9
128                                      30.3
129                                      31.6
130                                      43.4

[122 rows x 7 columns]

#### Question 9 - Using the train_test_split function from the sklearn module, use a 70/30 split validation to split the data set into train and test. If you follow the example at the following link: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

Note: It's common practice to use the following variable names for unpacking the result:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=(YOUR VALUE))

sklearn will create a proper split where the following statements hold true:
X_train is your train set independent variables
Y_train is your train set dependent variables
X_test is your test set independent variables
Y_test is your test set dependent variables

In [231]:
from sklearn.model_selection import train_test_split

In [233]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=100)

#### Question 10 - Should the number of rows in X_train == number of rows in Y_train? Also, should the number of rows in X_test == Y_test? Why or why not? Validate your answer with code below:

In [238]:
print(len(X_train))
print(len(Y_train))
print(len(X_test))
print(len(Y_test))

22
22
100
100

Yes they should always be the same lenght and the input and out put should have the same number of rows, other wise there is an issue where you got extra output or no output